.mat-select {
  margin: 0;
  background-color: #fff;
  border: 1px solid #dedede;
  font-size: 15px;
  line-height: 20px;
  outline: none;
  padding: 9px 11px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.9);
  width: 100%;
  border-radius: 4px;
}

.group-header {
  padding: 15px;
  h1 {
    color: #333;
    font-weight: 500;
    &.group-title {
      font-size: 15px;
      padding: 0 20px;
      font-weight: 700;
    }
  }
}

.card-wrapper {
  &.tab {
    &.group-items {
      padding-top: 0;
    }
  }
  &.cw-np {
    padding-bottom: 0px;
  }
  &.p-modal {
    padding: 20px 0 0 0;
  }
}

.grid-row {
  display: flex;
  padding: 15px 0;
}

hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  margin-bottom: 2em;
}

.pc-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.pc-radio-button {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans,
    Helvetica Neue, Helvetica, Arial, sans-serif;
}

.grid-row-form {
  display: flex;
  margin-bottom: 2em;
  justify-content: space-between;
  .grid-col-form {
    flex-grow: 1;
    display: flex;
    flex-basis: 0;
    .field {
      flex: 1;
    }
    &.column {
      flex-direction: column;
    }
    &.small-width {
      flex-basis: 25%;
      max-width: 25%;
    }
  }
}

.nav-content {
  padding: 10px 24px 10px 24px;
  min-height: 55px;
  h3 {
    color: #fff;
    font-family: "Google Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    flex: 1;
  }
}

.overview-container {
  flex-direction: row;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  .card-wrapper {
    padding-top: 65px;
    .card-item {
      padding: 20px 30px;
    }
  }
}

.status {
  background: #f1c40f;
  user-select: none;
  padding: 5px 10px;
  border-radius: 100vw;
  font-size: 13px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.9);
  white-space: nowrap;
  font-weight: 500;
  min-width: 72px;
  text-align: center;
  justify-content: center;
  &.disabled {
    background: #fff3e0;
    color: #dd2c00;
  }
  &.active {
    color: #fff;
    background: #76d472;
  }
  &.expired {
    color: #fff;
    background: #e64f3e;
  }
  &.blue {
    color: rgba(0, 0, 0, 0.9);
    background: #54c5f8;
  }
  &.complete {
    background: #0078d7;
    color: #fff;
  }
  &.approve {
    background: #00c853;
    color: #fff;
  }
  &.pending {
    background: #f1c40f;
    color: #111;
  }
  &.green {
    background: #b4e123;
    color: #111;
  }
  &.memo-red {
    background: #ff7c7c;
    padding: 3px;
    border: solid 1px #d65454;
    min-width: 25px;
  }
  &.memo-green {
    background: #b4e123;
    padding: 3px;
    border: solid 1px #a8be59;
    min-width: 25px;
  }
}

.courses-list-item {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  .mat-button {
    display: flex;
    background: #f2f2f2;
    padding: 10px 20px;
    flex-direction: row;
    border-radius: 2px;
    cursor: pointer;
    margin: 1px 0;
    &:hover {
      color: $link;
    }
    .mat-button-wrapper {
      display: flex;
      align-items: center;
      flex: 1;
    }
  }
}

.help-block {
  color: rgba(0, 0, 0, 0.59);
  font-weight: 400;
  font-size: 15px;
  font-style: italic;
}

.pt-30 {
  padding-top: 30px;
}

.mb50 {
  margin-bottom: 50px;
}

.page-section {
  padding-top: 48px;
  padding-bottom: 80px;
  &.a4 {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    .mat-step-label{
        font-size: 18px;
        color: #111;
        font-family: "Google Sans", sans-serif;
        font-weight: 700;
    }
    .form-wrapper{
        padding: 30px;
    }
  }
  .action-bar {
    box-shadow: none;
  }
  .mat-tab-nav-bar {
    border: none;
  }
  .mat-tab-header,
  .mat-tab-nav-bar {
    background: $header;
    padding: 0 24px;
    position: sticky;
    top: 100px;
    z-index: 99;
  }
  .mat-tab-links {
    height: unset;
    a {
      &.mat-tab-link {
        height: unset;
        min-width: unset;
        padding: 10px 7px;
        border-radius: 4px;
        margin-right: 16px;
      }
      color: rgba(255, 255, 255, 1);
      text-transform: none;
      letter-spacing: 0.25px;
      font-weight: 500;
      font-size: 14px;
      &.mat-tab-label-active {
        color: #fff;
        opacity: 1;
      }
    }
  }
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #fff !important;
  border-color: #fff !important;
  height: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

app-loading {
  .mat-progress-spinner {
    width: 70px !important;
    height: 70px !important;
    svg {
      width: 70px !important;
      height: 70px !important;
    }
    circle,
    .mat-spinner circle {
      stroke: $header;
    }
  }
}

.spinner-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin: 0 auto;
  flex-direction: column;
  &.paging {
    position: relative;
    margin: $margin 0;
  }
  &.no-bg {
    background: transparent;
  }
  .spiner {
    width: 50px !important;
    height: 50px !important;
    path {
      stroke: $primary;
    }
    svg {
      width: 50px !important;
      height: 50px !important;
    }
    margin-right: 8px;
  }
  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: $primary;
  }
  .txt-loading {
    color: $primary;
    font-size: 14px;
    text-transform: capitalize;
  }
  h4 {
    margin-top: 20px;
  }
}

.en-loader {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin: 0 auto;
  .spiner {
    width: 50px !important;
    height: 50px !important;
    path {
      stroke: $primary;
    }
    svg {
      width: 50px !important;
      height: 50px !important;
    }
    margin-right: 8px;
  }
  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: $primary;
  }
  .txt-loading {
    color: $primary;
    font-size: 14px;
    text-transform: capitalize;
  }
}

.mat-campus {
  .mat-menu-item {
    height: auto !important;
    .mat-menu-item-campus {
      display: flex;
      // flex-direction: column;
      // align-items: center;
      justify-content: center;
      padding-top: 14px;
      .mat-icon {
        // margin-right: 0;
      }
      .mat-info-select {
        line-height: normal;
      }
      .subtitle {
        word-break: break-all;
        white-space: normal;
        line-height: normal;
        font-size: 12px;
        color: #666;
        font-weight: 400;
        margin-bottom: 15px;
      }
    }
  }
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
  margin-top: 10px;
  .mat-radio-label-content {
    font-weight: 400;
  }
}

.mat-dialog-container {
  border-radius: 0 !important;
}

.mat-step-header .mat-step-icon {
  background-color: #1767ef !important;
}

.mat-raised-button {
  &.mat-primary {
    background: #1767ef !important;
  }
  border-radius: 25px !important;
  color: #fff !important;
}

.mat-fab.mat-accent[disabled],
.mat-fab.mat-primary[disabled],
.mat-fab.mat-warn[disabled],
.mat-fab[disabled][disabled],
.mat-flat-button.mat-accent[disabled],
.mat-flat-button.mat-primary[disabled],
.mat-flat-button.mat-warn[disabled],
.mat-flat-button[disabled][disabled],
.mat-mini-fab.mat-accent[disabled],
.mat-mini-fab.mat-primary[disabled],
.mat-mini-fab.mat-warn[disabled],
.mat-mini-fab[disabled][disabled],
.mat-raised-button.mat-accent[disabled],
.mat-raised-button.mat-primary[disabled],
.mat-raised-button.mat-warn[disabled],
.mat-raised-button[disabled][disabled] {
  background-color: rgba(0, 0, 0, 0.12) !important;
}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
  border-radius: 100px;
}

.fire-callout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0 0 24px;
  margin: 0 0 24px;
  min-height: 48px;
  border-radius: 2px;
  animation: fadein 1s;
  &.fire-aside-warning {
    background-color: #fbe9e7;
    color: #d50000;
  }
  .fire-callout-body {
    margin-right: 24px;
    position: relative;
    padding: 12px 0;
    line-height: 20px;
    font-size: 14px;
    white-space: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      margin-right: 10px;
    }
    span {
      font-weight: 500;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: $primary;
}
.mat-option-text{
  font-family: Google Sans, Roboto, sans-serif ;
}
.span-top{
  margin: 6px 0;
    display: block;
}
.mat-vertical-content{
  .dialog-footer{
    box-shadow: none;
  }
}